.experienceCard{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
    font-size: 18px;
    font-weight: 300;

    .wrap{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }


    .title{
        color: #66FCF1;
    }
}